<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xpwi.springboot.dao.FileInfoDao">
    <select id="findAll" resultType="com.xpwi.springboot.model.FileInfo" parameterType="com.xpwi.springboot.model.FileInfo">
        SELECT *  FROM flow_system.flow_base_fileinfo
        <where>
            <if test="form_id !=null and form_id != ''">
                form_id=#{form_id}
            </if>
        </where>
    </select>
</mapper>